@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@1,300 & display=swap');

body{
    color: rgb(123, 133, 133);
    margin: 0;
    padding: 0;
    background-color: #47afcf;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
form.formulaire{
    max-width: 550px;
    margin: 0 auto;
}
form h1{
    font-size: 30px;
    border-bottom: 2px solid #6d777a;
    padding: 10px;
}
form{
    max-width: 550px;
    margin: 0 auto;
    background: rgb(248, 247, 247);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 50px 1px black;
}
form.groupe, .input,
.msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #6d777a;
    resize: none;
    padding: 10px;
    width: 100%;
}
button{
    border: 2px solid #42494b;
    padding: 10px;
    margin: 20px;
    margin-bottom: 30px;
}
.piedpage{
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
}
span{
    margin: 0 5px 0 15px;
}